@keyframes skeletonAnimation {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 250px;
  height: 200px;
  background-color: #82828298;
  backdrop-filter: blur(40px);
  border-radius: 8px;
  overflow: hidden; /* Para ocultar el desbordamiento de la animación */
  animation: skeletonAnimation 1.5s linear infinite;
}

.skeleton-supplier {
  width: 110px;
  height: 30px;
  border-radius: 12px;
  background: linear-gradient(90deg, #ccccccb5 25%, #82828298 50%, #ccccccb5 75%);
  background-size: 400% 100%;
  animation: skeletonAnimation 1.5s linear infinite;
}

.skeleton-info {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ccccccb5;
  animation: skeletonAnimation 1.5s linear infinite;
}

.skeleton-content {
  flex: 1;
}

.skeleton-line {
  height: 10px;
  width: 80%;
  background-color: #ccc;
  margin-bottom: 8px;
  animation: skeletonAnimation 1.5s linear infinite;
}
